@model AddArticleDto
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Makale Yönetimi /</span> Makale Ekle</h4>

<div class="col-md-12">
    <div class="card mb-4">
        <form asp-area="Admin" asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="form-group">

                    <label asp-for="CategoryId" class="form-label">Kategori</label>

                    <!-- Button trigger modal -->
                    <a class="btn btn-primary text-white float-end mb-4" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                        Kategori Ekle <i class="bx bx-plus-circle"></i>
                    </a>

                    <select id="categoryList" class="form-control mb-3" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" for="defaultFormControlInput" class="form-label">Başlık</label>
                    <input type="text"
                           asp-for="Title"
                           class="form-control mb-3"
                           id="defaultFormControlInput"
                           aria-describedby="defaultFormControlHelp" />
                    <span asp-validation-for="Title" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="Content" class="form-label">İçerik</label>
                    <textarea asp-for="Content" rows="5" class="form-control mb-3"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FormFile" for="defaultFormControlInput" class="form-label">Resim seçiniz</label>
                    <input asp-for="FormFile" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <a asp-area="Admin" asp-controller="Article" asp-action="Index" class="btn  btn-danger btn-lg col-md-6">Vazgeç</a>
                    <button type="submit" class="btn  btn-success btn-lg col-md-6">Kaydet</button>

                </div>

            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Kategori Ekle</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label class="d-block form-label">Kategori Adı</label>
                        <input type="text" class="form-control" id="categoryName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="btnAdd">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/categoryAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.categoryAddUrl = "@(Url.Action("AddWithAjax", "Category"))";
        app.Urls.articleAddUrl = "@(Url.Action("Add", "Article"))";
    </script>


}
