@model AppUserChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="col-md-12">
    <div class="card mb-4">
        <h5 class="card-header">Şifre Değiştir</h5>
        <div class="card-body">
            <form asp-area="Admin" asp-controller="User" asp-action="ChangePassword" class="mb-3" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3 form-password-toggle">
                    <label asp-for="CurrentPassword" class="form-label">Mevcut Şifrenizi Giriniz</label>

                    <div class="input-group input-group-merge">
                        <input type="password"
                               asp-for="CurrentPassword"
                               class="form-control"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                <div class="mb-3 form-password-toggle">
                    <label asp-for="NewPassword" class="form-label">Yeni Şifrenizi Giriniz</label>

                    <div class="input-group input-group-merge">
                        <input type="password"
                               asp-for="NewPassword"
                               class="form-control"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span> <div class="mb-3 form-password-toggle">
                    <label asp-for="ConfirmPassword" class="form-label">Yeni Şifrenizi Tekrar Giriniz</label>

                    <div class="input-group input-group-merge">
                        <input type="password"
                               asp-for="ConfirmPassword"
                               class="form-control"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>



                <button type="submit" class="btn btn-primary d-grid w-100">Kaydet</button>
            </form>

        </div>
    </div>
</div>
